* {
	padding: 0px;
	margin: 0px;
}

header, nav, main, section, #logo, #search input[type="text"], a, #scan {
	display: block;
}

body {
	font-family: 'Lora';
    font-size: 14px;
}


#diagramBody{
	background:url(../images/bg1.jpg) no-repeat center center fixed;
	background-size:96% auto;   
	background-color: #403c35;
}

#contentBody{
    width: 100%;
	background-color: #e5e5e5;
}

#diagramWrapper, #contentWrapper{
	margin: 0px auto;   
	width: 90%;
	position: relative;
	margin: 0px auto;
}

#diagramWrapper a{
    text-decoration: none;
    display: inline-block;
}

#contentWrapper a{
    text-decoration: none;
    display: inline-block;
}

/*Swiper*/
/*#fullAbout{
    overflow-y: scroll;
}

#fullAbout::-webkit-scrollbar {
        display: none;
}*/
/**/

#header{
    top:0px;
	position: relative;
	height: 60px;
	border-bottom: 1px solid #FFBA00;
    font-size: 1.4em;
    text-align:right;
} 

#sltxt, #sltxtC{
	float: left;
    padding-top: 24px;
    color: #e5e5e5;/*#aaaaaa;*/
    font-weight: bold;
}

#ldtxt, #ldtxtC a{
	float: left;
	display: inline-block;
	margin-left: 6px;
	padding-top: 24px;
	color: #FFBA00;
	font-style: italic;
	font-weight: bold;
}

#abouttxt, #abouttxtC{
	float: right;
    width: 20%;
    padding-top: 24px;
    font-style: italic;
    font-weight: bold;
}

/**/


#abouttxt a{
	color: #e5e5e5;
}

#abouttxtC a{
    display: inline-block;
}

#sltxtC a, #abouttxtC a{
	color: #1a1a1a;
}

#ldtxtC a{
	font-style: normal;
}

::-webkit-scrollbar {
    width: 0px;
}



/**** Diagram css ****/
/********************/
.imgWrapper{
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #FFBA00;
}


.eye{
    height: 10px;
    width: 16px;
    display: inline-block;
}

.photo{
    border: 1px solid #FFBA00;
    display: inline-block;
}
.photo img{
    height: 67px;
    width: 100px;
    border: 4px solid #1a1a1a;
}
.photo:hover{
    opacity: 0.4;
}

#pos1{
    top: 850%;
    right: 18%;
}

#pos2{
    top: 904%;
    right: 35%
}

#pos3{
    top: 904%;
    left: 35%;
}

#pos4{
    top: 850%;
    left: 18%;
}

#pos5{
    top: 700%;
    left: 6%
}
#pos6{
    top: 508%;
    left: 0%;
}

#pos7{
    top: 318%;
    left: 9%;
}

#pos8{
    top: 210%;
    left: 25%;
}

#pos9{
    top: 174%;
    right: 45%;
}
#pos10{
    top: 210%;
    right: 25%;
}

#pos11{
    top: 318%;
    right: 9%;
}

#pos12{
    top: 508%;
    right: 0%;
}

#pos13{
    top: 700%;
    right: 6%;
}



#curve{
    margin:0 auto;
    position:relative;
    width:100%;
    height:100%;
}




/* ==================================================== */



/**** About css ****/
/*******************/
#contentWrapper main{
    position: relative;
    width: 35%;
    margin-right: 12%;
    float: right;
}

#aboutTitle{
    margin-top: 15%;
    color: #1a1a1a;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
}

#aboutContent{
    color: #1a1a1a;
    font-size: 1em;
    margin-top: 38px;
    line-height: 2;
}

#aboutContent::-webkit-scrollbar {
        display: none;
}

footer{
    display: block;
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0px auto;
    width: 100%;
    height: 40px;
    bottom: 0px;
}

#logos section{
    position: relative;
    float: left;
}


#logos img{
   width: 100%;
     
}

#logo1{
    width: 7.5%;
    margin-left: 4%;
    margin-right: 5%;
}

#logo2{
    width: 5.5%;
    margin-right: 5%;
}

#logo3{
    width: 15%;
    margin-right: 5%;
}

#logo4{
    width: 13%;
    margin-right: 5%;
}

#logo5{
    width: 17%;
    margin-right: 5%;
}

#logo6{
    width: 9%;
}



@media (min-width: 591px) and (max-width: 850px) {
     #contentWrapper main{
        width: 45%;
    }
}

@media (max-width: 590px){

   
    /**** About css ****/
    /*#contentWrapper header{
        top:0px;
        position: fixed;
    }*/
    #contentWrapper main{
        position: relative;
        width: 75%;
        margin-right: none;
        float: none;
        margin: 0px auto;
    }

}







.clear{
	clear: both;
}