* {
	padding: 0px;
	margin: 0px;
}

header, nav, main, section, #logo, #search input[type="text"], a, #scan {
	display: block;
}

body {
	font-family: 'Lora';
    font-size: 14px;
}


#diagramBody{
    /*overflow: hidden;*/
	background:url(../images/bg1.jpg) no-repeat center center fixed;
	background-size:96% auto;   
	background-color: #403c35;
}

#contentBody{
    width: 100%;
	background-color: #e5e5e5;
}

#diagramWrapper, #contentWrapper{
	margin: 0px auto;   
	width: 90%;
	position: relative;
	margin: 0px auto;
}

#diagramWrapper a{
    text-decoration: none;
    display: inline-block;
}

#contentWrapper a{
    text-decoration: none;
    display: inline-block;
}

#header{
    top:0px;
	position: relative;
	height: 60px;
	border-bottom: 1px solid #FFBA00;
    font-size: 1.4em;
    text-align:right;
} 

#sltxt, #sltxtC{
	float: left;
    padding-top: 24px;
    color: #e5e5e5;/*#aaaaaa;*/
    font-weight: bold;
}

#ldtxt, #ldtxtC a{
	float: left;
	display: inline-block;
	margin-left: 6px;
	padding-top: 24px;
	color: #FFBA00;
	font-style: italic;
	font-weight: bold;
}

#abouttxt, #abouttxtC{
	float: right;
    width: 20%;
    padding-top: 24px;
    font-style: italic;
    font-weight: bold;
}

/**/


#abouttxt a{
	color: #e5e5e5;
}

#abouttxtC a{
    display: inline-block;
}

#sltxtC a, #abouttxtC a{
	color: #1a1a1a;
}

#ldtxtC a{
	font-style: normal;
}

::-webkit-scrollbar {
    width: 0px;
}



/**** Diagram css ****/
/********************/
.imgWrapper{
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #FFBA00;
}


.eye{
    height: 10px;
    width: 16px;
    display: inline-block;
}

.photo{
    border: 1px solid #FFBA00;
    display: inline-block;
}
.photo img{
    max-width: 100%;
    height: 67px;
    width: 100px;
    border: 4px solid #1a1a1a;
}
.photo:hover{
    opacity: 0.4;
}

#pos1{
    top: 850%;
    right: 18%;
}

#pos2{
    top: 904%;
    right: 35%
}

#pos3{
    top: 904%;
    left: 35%;
}

#pos4{
    top: 850%;
    left: 18%;
}

#pos5{
    top: 700%;
    left: 6%
}
#pos6{
    top: 508%;
    left: 0%;
}

#pos7{
    top: 318%;
    left: 9%;
}

#pos8{
    top: 210%;
    left: 25%;
}

#pos9{
    top: 174%;
    right: 44%;
}
#pos10{
    top: 210%;
    right: 25%;
}

#pos11{
    top: 318%;
    right: 9%;
}

#pos12{
    top: 508%;
    right: 0%;
}

#pos13{
    top: 700%;
    right: 6%;
}



#curve{
    margin:0 auto;
    position:relative;
    width:100%;
    height:100%;
}




/* ==================================================== */



/**** About css ****/
/*******************/
#contentWrapper main{
    position: relative;
    width: 35%;
    margin-right: 12%;
    float: right;
}

#aboutTitle{
    margin-top: 15%; 
    margin-bottom: 10%;
    color: #1a1a1a;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
}

#aboutContent{
    color: #1a1a1a;
    font-size: 1em;
    line-height: 2;
}

#aboutContent::-webkit-scrollbar {
        display: none;
}



footer{
    display: block;
    padding-top: 90px; /*90*/
    padding-bottom: 90px; /*90*/
    margin: 0px auto;
    width: 100%;
    height: 40px;
    bottom: 0px;
}

#logos section{
    position: relative;
    float: left;
}


#logos img{
   width: 100%;
     
}

#logo1{
    width: 7.5%;
    margin-left: 4%;
    margin-right: 5%;
}

#logo2{
    width: 5.5%;
    margin-right: 5%;
}

#logo3{
    width: 15%;
    margin-right: 5%;
}

#logo4{
    width: 13%;
    margin-right: 5%;
}

#logo5{
    width: 17%;
    margin-right: 5%;
}

#logo6{
    width: 9%;
}





/* ========================= Media Queries =========================== */

@media 
    (min-width: 751px) 
and (max-width: 930px)
and (orientation: portrait) {

    .photo img{
        height: 58px;
        width: 85px;
        border: 4px solid #1a1a1a;
    }

    #pos1{
        top: 1060%;
        right: 18%;
    }

    #pos2{
        top: 1105%;
        right: 34%
    }

    #pos3{
        top: 1105%;
        left: 34%;
    }

    #pos4{
        top: 1060%;
        left: 18%;
    }

    #pos5{
        top: 942%;
        left: 6%
    }
    #pos6{
        top: 820%;
        left: 0%;
    }

    #pos7{
        top: 702%;
        left: 9%;
    }

    #pos8{
        top: 640%;
        left: 25%;
    }

    #pos9{
        top: 614%;
        right: 43%;
    }
    #pos10{
        top: 640%;
        right: 25%;
    }

    #pos11{
        top: 702%;
        right: 8%;
    }

    #pos12{
        top: 820%;
        right: 0%;
    }

    #pos13{
        top: 942%;
        right: 6%;
    }

}


/* Lanscape Mobile */
@media 
    (min-width: 481px) 
and (max-width: 750px)
and (orientation: landscape) {


    #abouttxtC , #abouttxt, #ldtxt, 
#ldtxtC, #sltxt, #sltxtC{
    padding-top: 20px;
}

#header{
    height: 50px;
}


   .photo img{
        height: 39px;
        width: 58px;
        border: 3px solid #1a1a1a;
    }

    .eye{
        height: 6px;
        width: 12px;
        display: inline-block;
    }

    #pos1{
    top: 503%;
    right: 19%;
}

#pos2{
    top: 532%;
    right: 34%
}

#pos3{
    top: 532%;
    left: 36%;
}

#pos4{
    top: 503%;
    left: 21%;
}

#pos5{
    top: 422%;
    left: 6%
}
#pos6{
    top: 310%;
    left: 0%;
}

#pos7{
    top: 202%;
    left: 9%;
}

#pos8{
    top: 154%;
    left: 25%;
}

#pos9{
    top: 130%;
    right: 44%;
}
#pos10{
    top: 154%;
    right: 25%;
}

#pos11{
    top: 202%;
    right: 8%;
}

#pos12{
    top: 310%;
    right: 0%;
}

#pos13{
    top: 422%;
    right: 6%;
}



     /**** Diagram css ****/

     #contentWrapper main{
        width: 45%;
    }

    /*Swiper*/
    #aboutContent{
        overflow-y: scroll;
        height: 400px;
    }

    #aboutContent::-webkit-scrollbar {
            display: none;
    }
    /**/
    footer{
        padding-top: 35px; 
    }

    #aboutTitle{
        margin-top: 10%; /*15%*/
        margin-bottom: 10%;/*10%*/
    }
}



/* Portrait Mobile */
@media (max-width: 480px) and (orientation: portrait){

    #header{
        height: 50px;
    }


/*      #abouttxtC , #abouttxt, #ldtxt, 
#ldtxtC, #sltxt, #sltxtC{
    padding-top: 20px;
}

#header{
    height: 50px;
}
*/

    /**** Diagram css ****/
    #p1, #p2{
        width: 50%;
        float: left;
        height: 100vh; /*get 100% of screen height*/
    }

    #p2{
        direction: rtl;
    }
    .imgWrapper{
        position: relative;
    }
    #diagramBody{
        background:url(../images/bg2.png) no-repeat center center fixed;
        background-size:100% auto;   
        background-color: #403c35;
    }

    .photo img{
        height: 58px;
        width: 86px;
        border: 4px solid #1a1a1a;
    }

    #pos1{
        height: 12.5%;
        top: inherit;
        left: 0%;
        right: inherit;
    }

    #pos2{
        height: 12.5%;
        top: inherit;
        left: 0%;
        right: inherit;
    }

    #pos3{
        height: 12.5%;
        top: inherit;
        left: 0%;
        right: inherit;
    }

    #pos4{
        height: 12.5%;
        top: inherit;
        left: 0%;
    }

    #pos5{
        height: 12.5%;
        top: inherit;
        left: 0%;
    }
    #pos6{
        margin-top: 32%;
        height: 12.5%;
        top: inherit;
        left: 0%;
        right: inherit;
    }

    #pos7{
        margin-top: 13%;
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
        left: inherit;
    }

    #pos8{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
        left: inherit;
    }

    #pos9{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
    }
    #pos10{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
    }

    #pos11{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
    }

    #pos12{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        right: 0%;
    }

    #pos13{
        height: 12.5%;
        direction: rtl;
        top: inherit;
        left: 0%;
        right: inherit;
    }







   
    /**** About css ****/
    #contentWrapper main{
        position: relative;
        width: 75%;
        margin-right: none;
        float: none;
        margin: 0px auto;
    }

    /*Swiper*/
    #aboutContent{
        overflow-y: scroll;
        height: 400px;
    }

    #aboutContent::-webkit-scrollbar {
        display: none;
    }
    /**/
    footer{
        padding-top: 45px; 
    }
    #aboutTitle{
        margin-top: 10%; /*15%*/
        margin-bottom: 10%;/*10%*/
    }

}







.clear{
	clear: both;
}